body {
  background-color: lightskyblue;
}
h2 {
  color: green;
}
article{
  padding: 10px;
}
  #articleOne{
    font-family: 'Courier New';
    border: 3px dotted pink
  }
  #articleTwo{
    font-family: 'Didot';
    border: 4px solid seashell
  }
  #articleThree{
    font-family: 'Verdana';
    border: 6px dashed slateblue
  }
